{% extends "base.html" %}
{% block body %}
          <h4 class="display-4">Welcome to NotesKeep</h4>
          <p>
            <table class="table table-striped">
              <thead class="thead-dark">
              <tr>
                <th scope="col"> <a href="/?order_by=id&order={{order}}">#</a> </th>
                <th scope="col"> <a href="/?order_by=name&order={{order}}">Name</a>  </th>
                <th scope="col"> <a href="/?order_by=bought&order={{order}}">Bought</a>  </th>
                <th scope="col"> <a href="/?order_by=sold&order={{order}}">Sold</a> </th>
                <th scope="col"> <a href="/?order_by=species&order={{order}}">Species</a> </th>
              </tr>
              </thead>
              {% for id, name, date in notes %}
              <tr>              
                <td scope="row" class="noteid" >{{id}}</a></td>
                <td class="notename"><a href="{{url_for('pets.pet_info', pid=id)}}"></a>{{name}} </td>
                <td class="notedate">{{date}}</td>
              </tr>
              {%endfor%}
            </table>
          </p>
{% endblock %}