{% extends "sections.html" %}
{% block body1 %}
          <p>
            <table class="table table-striped">
              <thead class="thead-dark">
              <tr>
                <th scope="col">Title</th>
                <th scope="col"> <a href="/?order={{order}}">Date</a></th>
              </tr>
              </thead>
              {% for id, title, date, hashtag in notes %}
              <tr>      
                <td class="notename"><a href="{{url_for('personalinfomanager.note_info', nid=id)}}">{{title}} </a></td>
                <td class="notedate">{{date}}</td>
              </tr>
              {%endfor%}
            </table>
          </p>
{% endblock %}