{% extends "base.html" %}
{% block body %}
<h1 class="display-1">Note details</h1>
<p>
  <h6 class="display-6">
    <u class="name">{{title}}</u>
  </h6>
  <h6 class="made">Made on {{date}}</h6>
  <a class="tag" href="{{url_for('personalinfomanager.search', field='hashtag', value=hashtag)}}"><span class="badge bg-secondary">{{hashtag}}</span></a>
</p>
<p class="description">
{{description}}
</p>
<p>
  <a class="btn btn-primary" href="{{url_for('personalinfomanager.edit', nid=id)}}">Edit</a>
</p>

{% endblock %}